body {

    margin: 0;
    background: lightgrey;
}
h1{

    text-align: center;
}

#page_actu
{
 color: #fbff00;
}
.header-nav {
    background: rgb(11, 11, 99);
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    font-size: 24px;
    text-align: center;
}

.header-nav a
{
text-decoration: none;
    color: white;
}
.header-nav a:hover
{
text-decoration: underline;

}

.header-nav table {

    width: 100%;

}

.main {
    line-height: 150%;
    margin: 5% 10%
}

.main p

{
text-align: justify;
text-align-last: center;
}